<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Buy$tuff!</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/order']">Order</a>
          </li>
          <ng-template>

          </ng-template>
          <li class="nav-item" *ngIf="checkLoginStatus(); else login">
            <a class="nav-link text-dark"
               (click)="logOut_Click()"
               href="javascript:;">Log Out</a>
          </li>
          <ng-template #login>
            <li class="nav-item">
              <a class="nav-link text-dark"
                 (click)="logIn_Click()"
                 href="javascript:;">Log In</a>
            </li>
          </ng-template>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
